#!/usr/bin/make -f

DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
ifneq ($(DEB_HOST_ARCH_OS),linux)
endif

export DEB_CXXFLAGS_MAINT_APPEND = -DQT_NO_DEBUG_OUTPUT -DQT_NO_WARNING_OUTPUT

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
	-DBUNDLE_PROJECTM_PRESETS=OFF \
	-DUSE_SYSTEM_PROJECTM=ON \
	-DENABLE_VK=OFF

override_dh_auto_build:
##	docbook-to-man debian/clementine.sgml > debian/clementine.1
	dh_auto_build


override_dh_auto_clean:
##	rm -f debian/clementine.1
##	rm -f dist/Info.plist
##	rm -f dist/clementine.spec
##	rm -f dist/maketarball.sh
##	rm -f dist/windows/clementine.nsi
##	rm -f dist/windows/clementine-portable.nsi
##	rm -f src/translations/translations.pot
	dh_auto_clean


override_dh_installchangelogs:
	dh_installchangelogs Changelog

override_dh_auto_test:
